* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Grenze", serif;
  background-color: #fefff5;
}

.intro {
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

header {
  background-color: coral;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 2;
}

.header-content {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo-img {
  width: 100px;
  height: auto;
  vertical-align: center;
  display: inline-block;
  margin-right: 5px;
}

nav {
  flex-basis: 50%;
}

.main-nav,
.nav {
  display: flex;
  justify-content: space-around;
}

nav a,
.nav-item {
  cursor: pointer;
  overflow: hidden;
  padding: 0 20px;
}

.nav-item {
  height: 100px;
  align-items: center;
  font-size: 1.3em;
  display: flex;
}

.nav-item:hover {
  background-color: purple;
  color: white;
  overflow: hidden;
}

.nav {
  list-style-type: none;
}

.container {
  width: 70%;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  top: 60px;
}

#error {
  text-align: center;
  font-size: 2em;
  margin: 50px;
  display: none;
}

#error a {
  color: red;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px 10px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
}

#lead-content {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

#lead-image {
  grid-column: 1 / span 6;
  width: 600%;
  height: auto;
  align-self: center;
}

#lead-image img {
  height: auto;
}

#lead-para {
  grid-column: 7 / span 3;
  align-self: center;
}

img {
  width: 100%;
  height: 300px;
}

#butInstall {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 3px;
  margin: 0 auto;
  background: url(./images/install.svg) center center no-repeat;
  cursor: pointer;
  height: 40px;
  opacity: 0.74;
  outline: none;
  overflow: hidden;
  width: 40px;
}

.info {
  margin: 10px 0;
}

.categories {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.categories button {
  display: inline-block;
  color: white;
  background-color: red;
  padding: 15px;
  margin-right: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
}

.categories button:hover,
.categories .active {
  background-color: #fefff5;
  color: coral;
  font-weight: 500;
}

.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: black;
}

section a:visited {
  color: blue;
}

section a:hover {
  color: purple;
}

figure {
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

.author,
.section {
  font-weight: 700;
  font-style: italic;
  color: coral;
}

.logo-gen {
  margin-top: 75px;
}

@media only screen and (max-width: 830px) {
  .container {
    max-width: 100%;
    margin: 60px auto;
  }

  .header-content {
    width: 90%;
  }
}

@media only screen and (max-width: 880px) {
  .nav-item {
    padding: 0 10px;
  }

  .header-content span {
    display: none;
  }

  .nav-item::before {
    display: flex;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    cursor: pointer;
    margin: 8px;
  }

  #home::before {
    content: "\f015";
  }

  #video::before {
    content: "\f03d";
  }

  #edition::before {
    content: "\f044";
  }

  #trending::before {
    content: "\f06d";
  }

  .container {
    max-width: 100%;
  }

  #lead-content {
    display: block;
  }

  #lead-image {
    width: 100%;
    height: auto;
  }

  .news-item {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    box-shadow: 0 0 2px 2px #eeeeee;
    padding: 10px;
  }

  .news-item img {
    width: 100%;
    height: auto;
  }

  .news-item .para {
    grid-column: 2 / span 2;
  }
}

@media only screen and (max-width: 630px) {
  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: coral;
    height: 75px;
  }

  nav .nav-item {
    position: relative;
    bottom: 10px;
  }

  #content {
    margin-bottom: 80px;
  }

  .container {
    width: 90%;
    bottom: 0;
    right: 0;
    margin: 70px auto;
  }

  .news-item {
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    width: 95%;
    bottom: 0;
    right: 0;
    margin: 70px auto;
  }

  nav .nav-item {
    font-size: 1.1em;
  }

  .header-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .categories {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 50%;
  }
}
